:root {
  --theme-color: #577FBB;
}

.warn:before {
  content: "⮕ "
}

.markdown-section h3 {
  font-size: 1.3rem;
}

.markdown-section h4 {
  font-size: 1rem;
}

.CodeMirror {
  border: 2px solid #eee;
  border-radius: 4px;
  font-size: .8rem;  
  line-height: 1.2rem;
}

.markdown-section pre {
  line-height: 1.2rem;
}

/* override vue.css for propery syntax highlighting with prism.js */
.token.deleted {
  text-decoration: none !important;
}
.token.inserted {
  border-bottom: none;
}
