@media (min-width: 992px) {
  body.docked #quarto-content {
    display: grid;
    gap: 0;
    grid-template-columns: [screen-start] 1.5em [screen-start-inset page-start] minmax(50px, 145px) [page-start-inset] 50px [body-start-outset] 50px [body-start] 1.5em [body-content-start] minmax(500px, calc( 1000px - 3em )) [body-content-end] 1.5em [body-end] 50px [body-end-outset] minmax(0px, 100px) [page-end-inset] 50px [page-end] 5fr [screen-end-inset] 1.5em [screen-end];
  }
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.sidebar-tools-main a.external:after,
figure a.external:after, footer a.external:after {
  display: none;
}
.sidebar-logo {
  max-width: 100%;
}
.sidebar-title {
  display: none; /* TODO: remove */
}
figure > figcaption {
  text-align: center;
  margin: 0;
}
div.csl-entry {
  margin-bottom: 0.5em;
}

.sidebar-item:hover {
  border-right: 2px solid #747a7f;
}

div.listing {
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}
figure > div > div.sourceCode {
  margin-bottom: 0;
}

div.callout-note:not(.callout-titled) .callout-icon::before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%232373cc" class="bi bi-arrow-right-circle" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/></svg>');
}

/* Infoboxen */
.callout.callout-style-simple .callout-body,
.callout.callout-style-simple > div.callout-header
{
  font-size: 1rem;
}
